<%- include('partials/head') %>
<%- include('partials/header') %>

  <div class="tarjeta tarjeta-angosta tarjeta-confirmar">
    <h1>No encontramos esta página</h1>
    <p class="texto-ayuda">Puede que el enlace esté mal escrito o ya no exista.</p>
    <a href="/" class="boton boton-primario boton-grande">Volver al inicio</a>
  </div>

<%- include('partials/pie') %>
